{% extends "layout.html" %}
{% block content %}
{% include 'error_box.html' %}
<div>
    <h2><u>{{course.name}}</u></h2>
    <p>{{course.description}}</p>
</div>

<div class="mt-2 border border-dark p-2">
    <h3>Overview</h3>
    <div class="">
    {% if user.role == "student" %}
        {% for content in course.contents %}
            {% if content.status == True %}
            <div style="width:40px;height:40px;background:lightgreen;display:inline-block;text-align:center;line-height:40px;">
                {{content.position}}
            </div>
            {% elif content.status == False %}
            <div style="width:40px;height:40px;background:red;display:inline-block;text-align:center;line-height:40px;">
                {{content.position}}
            </div>
            {% else %}
            <div style="width:40px;height:40px;background:gray;display:inline-block;text-align:center;line-height:40px;">
                {{content.position}}
            </div>
            {% endif %}
        {% endfor %}
    {% elif user.role == "teacher" %}
    <table class="text-center">
        <tr>
            <th class="pl-4 pr-4">Student</th>
            {% for content in course.contents %}
                <th>{{content.position}}</th>
            {% endfor %}
        </tr>
        {% for student in overview %}
        <tr>
            <td>{{student.name}}</td>
            {% for status in student.statuses %}
            <td>
                {% if status == True %}
                <div style="width:40px;height:40px;background-color:lightgreen;"></div>
                {% elif status == False %}
                <div style="width:40px;height:40px;background:red;"></div>
                {% else %}
                <div style="width:40px;height:40px;background:gray;"></div>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
</div>

{% if user.role == "teacher" %}
{% include "add_content_box.html" %}
{% endif %}

<hr>

<div class="mt-2">
    <h3>Course material</h3>
    {% for content in course.contents %}
        {% if user.role == "student" %}
            {% if content.status == True %}
            <div class="border border-success m-2 p-1 mb-2" style="border-width: 2px !important;">
            {% elif content.status == False %}
            <div class="border border-danger m-2 p-1 mb-2" style="border-width: 2px !important;">
            {% else %}
            <div class="border border-dark m-2 p-1 mb-2" style="border-width: 2px !important;">
            {% endif %}
                <h4><strong>{{content.position}}. {{content.title}}</strong></h4>
                <form action="/submit" method="POST">
                    <input type="hidden" name="content_id" value="{{content.id}}"/>
                    {% if content.type == "material" %}
                        <div>
                            {{content.text}}<br>
                            <button
                                class="btn btn-sm btn-success mt-2"
                                type="submit"
                                name="status"
                                value="1"
                            >Submit &#128077;</button>
                            <button
                                class="btn btn-sm btn-danger mt-2"
                                type="submit"
                                name="status"
                                value="0"
                            >Submit &#128078;</button>
                        </div>
                    {% elif content.type == "multiple_choice" %}
                        {% for choice in content.choices %}
                        <div class="d-inline ml-3">
                            <input
                                type="checkbox"
                                name="choice_{{choice}}"
                                style="transform: scale(1.5);"
                            /> 
                            <label class="form-label">&nbsp;{{choice}}</label>
                            <br>
                        </div>
                        {% endfor %}
                        <button class="btn btn btn-primary m-1">Submit</button>
                    {% elif content.type == "free_response" %}
                        <div class="m-1">
                            <input class="form-control" type="text" name="answer"/>
                            <button class="btn btn btn-primary mt-1">Submit</button>
                        </div>
                    {% endif %}
                </form>
            </div>
        {% elif user.role == "teacher" %}
            <div class="border border-dark m-2 p-1">
                <div class="d-flex align-items-center justify-content-between">
                    <h4><strong>{{content.position}}. {{content.title}}</strong></h4>
                    <div class="d-flex">
                        <form class="d-inline" action="move_content" method="POST">
                            <input type="hidden" name="position" value="{{content.position}}"/>
                            <button class="btn btn-sm btn-info" type="submit" name="action" value="top">top</button>
                            <button class="btn btn-sm btn-info" type="submit" name="action" value="up">up</button>
                            <button class="btn btn-sm btn-info" type="submit" name="action" value="down">down</button>
                            <button class="btn btn-sm btn-info" type="submit" name="action" value="bottom">bottom</button>
                        </form>
                        <form class="d-inline" action="delete_content" method="POST">
                            <input type="hidden" name="content_id" value="{{content.id}}"/>
                            <input type="hidden" name="position" value="{{content.position}}"/>
                            <button class="btn btn-sm btn-danger ml-1" type="submit">Delete</button>
                        </form>
                    </div>
                </div>

                {% if content.type == "material" %}
                    <p>{{content.text}}</p>
                {% elif content.type == "multiple_choice" %}
                    {% for choice in content.choices %}
                        <div class="d-inline ml-3">
                            <input
                                type="checkbox"
                                name="choice_{{choice}}"
                                style="transform: scale(1.5);"
                                {{'checked' if choice in content.correct_choices}}
                                disabled
                            /> 
                            <label class="form-label">&nbsp;{{choice}}</label>
                            <br>
                        </div>
                    {% endfor %}
                {% elif content.type == "free_response" %}
                    <div class="m-2">
                        <input type="text" name="answer" value={{content.solution_regex}} disabled/>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    <hr/>
</div>

{% endblock %}