{% extends "layout.html" %}
{% block content %}
<div>
    <h2>{{course.name}}</h2>
    <p>{{course.description}}</p>
    <hr/>
</div>

<div>
    <h2>Content</h2>
    {% for content in course.contents %}
        {% if user.role == "student" %}
        <div style="border:1px solid black; margin:3px;">
            <form action="/submit" method="POST">
                <input type="hidden" name="content_id" value="{{content.id}}"/>
                {% if content.type == "material" %}
                    {{content.text}}
                    <button type="submit" name="status" value="1">Submit &#128077;</button>
                    <button type="submit" name="status" value="0">Submit &#128078;</button>
                {% elif content.type == "multiple_choice" %}
                    {{content.question}}
                    {% for choice in content.choices %}
                        <input type="checkbox" name="choice_{{choice}}"/>{{choice}}
                    {% endfor %}
                    <button type="submit">Submit</button>
                {% elif content.type == "free_response" %}
                    {{content.question}}<br/>
                    <input type="text" name="answer"/>
                    <button type="submit">Submit</button>
                {% endif %}
            </form>
        </div>
        {% elif user.role == "teacher" %}
        <div style="border:1px solid black; margin:3px;">
            {% if content.type == "material" %}
                {{content.text}}
            {% elif content.type == "multiple_choice" %}
                {{content.question}}
                {% for choice in content.choices %}
                    <input
                        type="checkbox"
                        name="choice_{{choice}}"
                        {{'checked' if choice in content.correct_choices}}
                        disabled
                    /> 
                    {{choice}}
                {% endfor %}
            {% elif content.type == "free_response" %}
                {{content.question}}<br/>
                <input type="text" name="answer"/>
            {% endif %}
            <form action="move_content" method="POST">
                <input type="hidden" name="position" value="{{content.position}}"/>
                Move: 
                <button type="submit" name="action" value="top">top</button>
                <button type="submit" name="action" value="up">up</button>
                <button type="submit" name="action" value="down">down</button>
                <button type="submit" name="action" value="bottom">bottom</button>
            </form>
        </div>
        {% endif %}
    {% endfor %}
    <hr/>
</div>

{% if user.role == "teacher" %}
    <div>
        <h2>Add content</h2>
        <div>
            <h3>Text material</h3>
            <form action="add_material" method="POST">
                Content:<br/>
                <textarea type="text" name="content"></textarea><br/>
                <button type="submit">Create</button>
            </form>
        </div>
        <div>
            <h3>Multiple choice question</h3>
            <form action="add_multiple_choice" method="POST" id="mcq_form">
                Question: <input type="text" name="question"/><br>
                Choices:
            </form>
            <div>
                <button onclick="mcq_add_new()">Add</button> 
                <button onclick="mcq_remove_last()">Remove</button><br>
                <button onClick="mcq_submit()">Create</button>
            </div>
        </div>
        <div>
            <h3>Free-response question</h3>
            <form action="add_free_response" method="POST">
                Question: <input type="text" name="question"/><br/>

                Solution pattern (regex):
                <input
                    type="text"
                    name="solution_regex"
                    id="frq_solution_regex"
                    onkeyup="frq_regex_test()"
                />
                <input
                    type="checkbox"
                    name="case_insensitive"
                    id="frq_case_insensitive"
                    onchange="frq_regex_test()"
                /> case insensitive<br/>
            
                Test your pattern with input:
                <input
                    type="text"
                    id="frq_test_string"
                    onkeyup="frq_regex_test()"
                />
                <span id="frq_test_result"></span><br/>
            
                <button type="submit">Create</button>
            </form>
        </div>
        <script type="text/javascript">{% include "course_teacher.js" %}</script>
    </div>
{% endif %}
{% endblock %}
