{% extends "layout.html" %}
{% block content %}
<h3 class="text-center"><u>Courses</u></h3>
<table class="table table-striped table-bordered">
    <thead class="table-primary">
        <tr>
            <th>Name</th>
            <th class="w-50">Description</th>
            <th>Teacher</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.teacher }}</td>
            <td>
                {% if user.role == "teacher" %}
                <a href="/courses/{{ course.id }}" class="btn btn-secondary">Manage</a>
                <a href="/courses/{{ course.id }}/delete" class="btn btn-danger">Delete</a>
                {% elif user.role == "student" %}
                    {% if course.id in user.enrollments %}
                    <a href="/courses/{{ course.id }}/" class="btn btn-primary">View</a>
                    {% else %}
                    <a href="/courses/{{ course.id }}/enroll" class="btn btn-success">Enroll</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}

        {% if user.role == "teacher" %}
        <tr>
            <form action="/courses" method="POST">
                <td>
                    <input type="text" name="name" class="w-100" required/>
                </td>
                <td>
                    <textarea 
                        name="description"
                        style="width: 100%; resize: none; overflow: hidden;"
                        oninput="desc_input(this)"
                        required
                    ></textarea>
                    <script>
                        function desc_input(t) {
                            t.style.height = "auto";
                            t.style.height = (t.scrollHeight) + "px";
                        }
                    </script>
                </td>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Create</button>
                </td>
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
            </form>
        </tr>
        {% endif %}
    </tbody>
</table>

{% include 'error_box.html' %}
{% endblock %}