{% extends "layout.html" %}
{% block content %}
<h2>Courses</h2>
{% if user.role == "teacher" %}
<form action="/courses" method="POST">
    <strong>Create new:</strong>
    name: <input type="text" name="name"/>
    description: <input type="text" name="description"/>
    <button type="submit">Create</button>
</form>
{% endif %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Teacher</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
            <tr>
                <td>{{course.name}}</td>
                <td>{{course.teacher.username}}</td>
                <td>
                    {% if user.role == "teacher" %}
                        <a href="/courses/{{course.id}}">
                            <button>Manage</button>
                        </a>
                    {% elif user.role == "student" %}
                        {% if course.id in user.enrollments %}
                            <a href="/courses/{{course.id}}/">
                                <button>View</button>
                            </a>
                        {% else %}
                            <a href="/courses/{{course.id}}/enroll">
                                <button>Enroll</button>
                            </a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
