<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>CourseVerse</title>
    </head>
    <body>
        {% if user != None %}
            Logged in as {{user.username}} ({{user.role}}). 
            <a href="/logout">
                <button>Logout</button>
            </a>
        {% else %}
            Not logged in. 
            <a href="/login">
                <button>Login</button>
            </a>
            <a href="/register">
                <button>Register</button>
            </a>
        {% endif %}
        <hr/>
        {% block content %}{% endblock %}
    </body>
</html>